@import "viewer";

$twitch-config: rgb(222, 170, 247);
$local-config: rgb(152, 219, 215);
$save-button: rgb(207, 74, 74);

body {
  background: rgba(255, 255, 255, 1);
  // background: url(/images/pokemon.png) no-repeat center center fixed;
  // background: "";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  overflow: hidden;
}


.center {
  .reticle {
    position: absolute;
    color: magenta;
    transform: scale(4);
  }
}

.display-window {
  width: 854px;
  height: 480px;
  border: 1px dotted black;
  // position: fixed;
  right: 10px;
  background-size: contain;
}

img#bg {

  float: left;
  /* Set up proportionate scaling */
  width: 854px;
  max-width: 854px;
  height: auto;

  /* Set up positioning */
  // position: absolute;
  top: 0;
  left: 0;

  // Tiny nudge to adjust for weird positioning discrepancies. 
  // No clue why the display seems different for config vs overlay
  transform: translate(-1%, -2%);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leftPanel {
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.instructions {
  height: 220px;
  flex-grow:1;
  padding: 0px 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 5px;
  overflow: auto;

  .secretKeyText {
    font-weight: bold;
  }
}

.controls {
  // position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.configControl {
  &-button {
    font-family: "Georgia", serif;
    border: none;
    margin: 3px;
    padding: 5px;
    flex: 1 0 40%;
    text-align: center;
  }

  &-button:hover {
    box-shadow: 0 9px 17px 0 rgba(0,0,0,0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
  }

  &-twitchConfig {
    background-color: $twitch-config
  }
  &-localConfig {
    background-color: $local-config
  }

  &-buttonUpload {
    font-size: 13.5px;
    padding: 3px;
    text-align: center;
    flex-grow: .5;
  }

  &-fileInput {
    display: none;
  }
  &-buttonSave {
    background-color: $save-button;
    font-size: 15px;
    font-weight: bold;
  }
}

.clockToken {  
  background: rgba(21, 179, 87, 0.253);
}
